<configuration>
    <appender name="APPLICATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>${application.home:-.}/logs/application.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <charset>UTF-8</charset>
            <timeZone>UTC</timeZone>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <!-- NOTE:
        If ignore a `ConsoleAppender` with conditinal operator. Application log (`APPLICATION_FILE`) will not out put a log.
        It is very strange. Maybe I made some mistakes...
     -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <charset>UTF-8</charset>
            <timeZone>UTC</timeZone>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <if condition='property("QUALTET_ENV").contains("dev")'>
        <then>
            <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${application.home:-.}/logs/debug.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${application.home:-.}/logs/debug.%d{yyyy-MM-dd}.gz</fileNamePattern>
                    <maxHistory>7</maxHistory>
                    <cleanHistoryOnStart>true</cleanHistoryOnStart>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} %message%n</pattern>
                    <immediateFlush>false</immediateFlush>
                </encoder>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>DEBUG</level>
                </filter>
            </appender>
        </then>
    </if>

    <!-- NOTE: OpenTelemetry Appender: Works safely even when OpenTelemetry is disabled (graceful degradation) -->
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <includeInstrumentationScopeInfo>true</includeInstrumentationScopeInfo>
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
        <captureMarkerAttribute>true</captureMarkerAttribute>
        <captureMdcAttributes>*</captureMdcAttributes>
    </appender>

    <logger name="error" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_FILE" />
        <appender-ref ref="OTEL"/>
    </logger>

    <logger name="info" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_FILE" />
        <appender-ref ref="OTEL"/>
    </logger>

    <logger name="debug" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_FILE" />
        <appender-ref ref="OTEL"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_FILE"/>
        <appender-ref ref="OTEL"/>
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_FILE"/>
        <appender-ref ref="OTEL"/>
    </root>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="OTEL"/>
    </root>
</configuration>
