name: Docs

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/pages.yml'
      - LICENSE
      - README.md
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #5.1.0
        with:
          distribution: 'temurin'
          java-version: 25

      - name: Generate website with Scaladoc
        run: sbt doc
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #6.1.0
        with:
          node-version: 24.x
      - name: Install npm dependencies
        working-directory: ./docs/rest-api
        run: npm install
      - name: Generate REST API document
        working-directory: ./docs/rest-api
        run: npm run build
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b #4.0.0
        with:
          path: ./docs/dist

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e #4.0.5
